language: php
dist: trusty
php:
- '7.1.18'
- '7.2'
- nightly
matrix:
  allow_failures:
  - php: nightly
install:
- composer update
script:
- ./vendor/bin/phpunit --coverage-clover ./tests/Logs/clover.xml
after_script:
- php vendor/bin/php-coveralls -v